body {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Header Section CSS Starts */
#header-title {
    font-weight: 200;
    margin-top: 25px;
}

.primary-button {
    background-color: #f47527;
    color: white;
    margin-top: 40px;
}

.primary-button:hover {
    background-color: chocolate;
    color: black;
}

/* Header Section CSS Ends */

/* Main Section CSS Starts */

#uprint-title {
    color: #F37228;
    font-size: 100px;
    font-weight: 700;
    line-height: normal;
}

/* Main Section CSS Ends */